* {
  margin: 0;
  padding: 0;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.navbar {
  background-color: rgb(245, 76, 14);
  width: 100%;
}

.btn .btn-warning {
  color: yellow;
  border-radius: 35%;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.block-title {
  color: grey;
  position: relative;
  top: 80px;
  text-transform: uppercase;
  font-size: medium;
}

.card .card-image img {
  width: 100%;
  float: right;
}

.card .card-category a {
  background-color: rgb(196, 194, 194);
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: red;
  float: left;
}

.card .card-category-sponsored a {
  background-color: rgb(196, 194, 194);
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 132, 255);
  float: left;
}

.card .card-content p {
  font-size: small;
}

.debate-image img {
  padding-top: 80px;
}

.debate-title a {
  float: right;
  font-weight: 800;
  color: black ;
  text-decoration: none;
}

.debate-text {
  float: right;
}

.versus {
  position: relative;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: grey;
  background-color: black;
  text-align: center;
}

.story-wrapper img {
  float: left;
  width: 95px;
  height: 95px;
  margin-right: 10px;
}

.story-wrapper h4 {
  font-size: medium;
  font-weight: 700;
  padding-top: 5px ;
}

.story-wrapper p {
  font-size: small;
}

.turn-wrapper img {
  width: 100%;
  margin-top: 10px;
}

.turn-wrapper h4 {
  color: grey;
  font-size: medium;
  margin-top: 10px;
}

.culture-label img {
  width: 100%;
  margin-top: 10px;
}

.culture-label h4 {
  background-color: grey;
  color: rgb(48, 47, 47);
  font-size: medium;
  text-transform: uppercase;
}

.culture-label h5 {
  font-size: small;
}

#more-story {
  position: relative;
  top: 90px;
}

#my-turn {
  position: relative;
  top: 90px;
}

#culture {
  position: relative;
  top: 90px;
}

.newsletter {
  position: relative;
  width: 80%;
  top: 110px;
  border: 1px solid black;
  margin: 0 auto;
}

.icon {
  background: url('https://g.newsweek.com/www/images/logo-n1.svg');
}

.signup {
  width: 100%;
  margin: 10px;
}

#sponsored {
  position: relative;
  top: 70px;
}

#magazine {
  position: relative;
  top: 140px;
}

#magazine img {
  width: 100%;
}

#magazine h5 {
  text-transform: uppercase;
  font-size: medium;
  color: red;
  padding-left: 20px;
  margin-bottom: 30px;
}

.magazine-title {
  color: rgb(68, 68, 68);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .card{
    position: relative;
    display: block;
    width: 100%;
    top: 80px;
  }
  
  .card .summary-image{
    float: left;
  }

  .content a {
    font-size: large;
    float: right;
  }
  
  .summary p {
    font-size: small;
    float: right;
  }

  #mobile-nav {
    max-width: 768px;
  }
}
