* {
  margin: 0;
  padding: 0;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.navbar {
  background-color: rgb(245, 76, 14);
  width: 100%;
}

.btn .btn-warning {
  color: yellow;
  border-radius: 35%;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.block-title {
  color: grey;
  position: relative;
  top: 80px;
}

.card .card-image img {
  width: 100%;
  float: right;
}

.card .card-category a {
  background-color: rgb(196, 194, 194);
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: red;
  float: left;
}

.card .card-content p {
  font-size: small;
}

@media screen and (max-width: 768px) {
  .card{
    position: relative;
    display: block;
    width: 100%;
    top: 80px;
  }
  
  .card .summary-image{
    float: left;
  }

  .content a {
    font-size: large;
    float: right;
  }
  
  .summary p {
    font-size: small;
    float: right;
  }

  #mobile-nav {
    max-width: 768px;
  }
}
